
    html {
        font-family: 'Tangerine', serif;
        font-size: 20px;
        text-shadow: 4px 4px 4px #aaa;
       
      }
      h1{
          margin:0;
          padding:20px 0;
        
          text-shadow:3px 3px 1px black;
          font-size: 60px;
          text-align: center;
      }
    div{
margin: 0 auto;

    }
    #up-navbar{
      display: grid;
      grid-template-columns: 50px 50px 1fr 50px 50px 50px 50px;
      grid-template-rows: 50px;
      grid-template-areas: 
      "about store . gmail image menu sign-in";
      margin: 0 20px 0 10px;
    }
      img {
          display:block;
          margin:0 auto;
      }
      
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: inline;
      }
      li {
        display: inline;
      }
      footer {

        list-style-type: none;
      }
