
    html {
        font-family: 'Tangerine', serif;
        font-size: 20px;
        text-shadow: 4px 4px 4px #aaa;
       
      }
      h1{
          margin:0;
          padding:20px 0;
        
          text-shadow:3px 3px 1px black;
          font-size: 60px;
          text-align: center;
      }
    
      img {
          display:block;
          margin:0 auto;
      }
      
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: inline;
      }
      li {
        display: inline;
      }
      footer {

        list-style-type: none;
      }
